*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#445069;
}

:root{
  --color1: #252B48;
  --color2: #445069;
  --color3: #5B9A8B;
  --color4: #F7E987;
}